body {
  padding-top: 80px;
  font-size: 0.8rem;
  background: $brand-background;
}

h1 {
  color: $brand-blue;
  font-size: 2rem;
  margin-bottom: 17px;
}

h3 {
  font-size: 0.8rem;
  margin-bottom: 15px;
}

.brand-panel-padding {
  padding: 5rem;
}

.container-fluid {
  padding-right: 0;
  margin-right: 0;
  &.clear {
    display: block;
    margin-top: 55px;
  }
}


.panel-top-line {
    border-top: $brand-blue 0.3rem solid;
    border-radius: 0.45rem;
}

.btn-brand {
  cursor: pointer;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 2.5rem;
  display: block;
  font-size: 0.8rem;
  &.btn-padding-small {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/**
  bootstrap 4 overrides
 */
.card {
  text-align: left;
  .table {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .card-body {
    .btn-brand-refresh {
      position: absolute;
      right: 25px;
    }
  }
}

.table {
  font-size: 0.7rem;

  .background-skyblue {
    color: $brand-blue-light;
    background-color: $brand-background-skyblue;
  }

  .btn-brand {
    font-size: 0.7rem;
  }

  thead {
    th {
      border-bottom: none;
      text-transform: uppercase;
    }
  }

  tbody {
    text-transform: capitalize;
  }

  td {
    vertical-align: middle;
    border-top: none;
    border-bottom: 0.15rem solid $brand-background-skyblue;
  }
}

/**
  end of bootstrap 4 overrides
 */


form {
  label {
    font-size: 0.8rem;
    font-weight: bold;
  }

  input {
    margin: 5px auto;
    font-size: 0.8rem;
    padding: 19px;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  h1, h3 {
    font-family: BrandFont;
  }
}

footer {
  margin-top: 50px;
  text-align: center;
  background-color: #e8e8e8;
  height: 150px;
  ul {
    li {
      list-style-type: disc;
      display: inline-block;
      padding: 25px 5px 5px 25px;
      a {
        color: #8b8b8b;
        font-size: 0.8em;
      }
    }
  }
}
