@font-face {
  font-family: BrandFont;
  color: $brand-font-dark;
  src: url('../../assets/fonts/proximanova-regular-webfont.eot');
  src: url('../../assets/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/proximanova-regular-webfont.svg#svgFontName') format('svg'),
  url('../../assets/fonts/proximanova-regular-webfont.ttf') format('truetype'),
  url('../../assets/fonts/proximanova-regular-webfont.woff') format('woff');
}
