$brand-alert: #d0021b;
$brand-orange: #ffb428;
$brand-grey: #d6d7de;
$brand-purple: #4b3cfa;
$brand-background: #f7f7f7;
$brand-background-skyblue: #f2f6ff;
$brand-blue: #0065c8;
$brand-blue-light: #96b8e8;
$brand-font-dark: #848484;

// brand logos and watermarks
$brand-logo: '../../../assets/images/my-logo.gif';
$brand-watermark: '';
